*{
	margin:0;
	padding:0;
}

body{
	z-index:-1;
	background-image: url('../img/Copy-of-Students1.jpg');
	color: whitesmoke;
	margin-top: -21px;
	background-repeat: no-repeat;                          
	height: 680px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 15%;
}

#logo{
	width: 280px;
	margin-bottom: 50px;
	margin-left: 580px;
}

#code{
	width: 80px;
	margin-top: 552px;
	margin-left: 1267px;
}

#triangle{
	z-index:0 auto;
	position: relative;
	margin-top: -160px;
	margin-left: 450px;
	border-bottom: 1000px solid #525246;
	border-left: 800px solid transparent;
}

#pres, 
#info{
	z-index: 10;
	margin-top: -690px;
	margin-left: 900px;
	padding: 10px;
}
#pres h1,
#info p{
	color: #ffffff;
}

#pres p{
	color: yellow;
}