*{
	margin:0;
	padding:0;
}

#principal{
background-image: url('https://ncmedia.azureedge.net/ncmedia/2016/04/Copy-of-Students1.jpg');
width:100%;
height: 100%;
}

#logo{
	width: 180px;
}

#code{
	width: 80px;
}