*{
	margin:0;
	padding:0;
}

body{
	z-index:-1;
	background-image: url('../img/Copy-of-Students1.jpg');
	color: whitesmoke;
	margin-top: -21px;
	background-repeat: no-repeat;                          
	height: 680px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 15%;
	position: relative;
}

#logo{
	width: 280px;
	margin-bottom: 200px;
	margin-left: -100px;
	position: relative;
	z-index: 1;
}

#code{
	width: 80px;
	margin-top: 552px;
	margin-left: 1267px;
}

#triangle{
	z-index:0 auto;
	position: relative;
	margin-top: -160px;
	margin-left: 400px;
	border-bottom: 960px solid #525246;
	border-left: 900px solid transparent;
}

#pres{
	position: relative;
	z-index: 10;
	margin-top: -460px;
	margin-left: 900px;
	padding: 10px;
}

#info{
	position: relative;
	z-index: 10;
    margin-top: -6px;
	margin-left: 900px;
	padding: 10px;
}

#pres h1,
#info p{
	color: #ffffff;
}

#pres p{
	color: yellow;
}